<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:name]} type="text" label="Name" />
  <.input field={f[:birthdate]} type="date" label="Birthdate" />
  <.input field={f[:birthplace]} type="text" label="Birthplace" />
  <.input field={f[:biography]} type="text" label="Biography" />
  <:actions>
    <.button>Save Author</.button>
  </:actions>
</.simple_form>
