<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <title>
      <%= assigns[:page_title] || "Criticos · Book Reviews By Friends" %>
    </title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-gray-100 antialiased">
    <!-- Navigation Bar -->
    <nav class="bg-blue-500 p-4 fixed top-0 w-full">
      <div class="container mx-auto relative z-10">
        <div class="flex justify-between items-center">
          <h1 class="text-white text-2xl font-semibold">Criticos</h1>
          <div class="space-x-4">
            <a href="#" class="text-white">Home</a>
            <a href="#" class="text-white">Books</a>
            <a href="#" class="text-white">Reviews</a>
            <%= if @current_user do %>
              <span class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold">
                <%= @current_user.email %>
              </span>
              <.link
                href={~p"/users/settings"}
                class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
              >
                Settings
              </.link>
              <.link
                href={~p"/users/log_out"}
                method="delete"
                class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
              >
                Log out
              </.link>
            <% else %>
              <.link
                href={~p"/users/log_in"}
                class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
              >
                Log in
              </.link>

              <.link
                href={~p"/users/register"}
                class="bg-white text-blue-500 px-4 py-2 rounded-full hover:bg-blue-100 transition"
              >
                Sign Up
              </.link>
            <% end %>
          </div>
        </div>
      </div>
    </nav>
    <main class="mt-16">
      <%= @inner_content %>
    </main>
  </body>
</html>
